Configuration(
    //Liczba klatek symulacji
    frames: 500,

    // Liczba klatek na sekundę animacji
    frame_rate: 25,

    // Ścieżka do pliku wynikowego. Formatem wynikowym jest GIF więc
    // nazwa pliku powinna mieć rozszerzenie .gif
    output_path: "aquamarine.gif",

    // Rozdzielczość generowanej animacji: (pozioma, pionowa)
    resolution: (960, 540),

    // Wielkość pojedynczej komórki w pikselach. Ten parametr musi być tak
    // dobrany aby dzielił wartość rozdzielczości poziomej i pionowej bez reszty
    cell_size: 2,

    // Frakcja komórek żywych na początku symulacji. Parametr opcjonalny
    alive_fraction: 0.3,

    // Prawdopodobieństwo wykiełkowania (przy kontakcie z innymi drzewami). Parametr opcjonalny
    sprout_probability: 0.005,

    // Prawdopodobieństwo losowego wykiełkowania. Parametr opcjonalny
    random_sprout_probability: 0.00075,

    // Szybkość wzrostu drzew. Parametr opcjonalny
    growth_rate: 0.002,

    // Łatwopalność drzew, określa jak łatwo drzewa zajmują się ogniem od
    // innych drzew. Parametr opcjonalny
    inflammability: 0.2,

    // Prawdopodobieństwo samozapłonu. Parametr opcjonalny
    self_ignition_probability: 0.000005,

    // Szybkość spalania. Parametr opcjonalny
    burning_rate: 0.08,

    // Paleta kolorystyczna lasu. Parametr opcjonalny
    forest_color_palette: [(45, 191, 182), (4, 165, 154), (14, 164, 117), (46, 200, 208), (32, 166, 202), (5, 185, 141)],
    
    // Kolor płomienia. Parametr opcjonalny
    fire_color: (255, 68, 219),

    // Kolor podłoża. Parametr opcjonalny
    ground_color: (3, 9, 14),
)
