Configuration(
    // Number of simulation frames
    frames: 500,

    // The number of frames per second of the animation
    frame_rate: 25,

    // Path to the output file. The resulting format is GIF,
    // so the file name should have the extension .gif
    output_path: "aquamarine.gif",

    // Resolution of generated animation: (horizontal, vertical)
    resolution: (960, 540),

    // The size of a single cell in pixels. This parameter must be selected in such a way 
    // that it divides the horizontal and vertical resolution values without any remainder
    cell_size: 2,

    // Fraction of alive cells at the beginning of the simulation. Optional parameter
    alive_fraction: 0.3,

    // Probability of germination (when in contact with other trees). Optional parameter
    sprout_probability: 0.005,

    // Probability of random germination. Optional parameter
    random_sprout_probability: 0.00075,

    // Tree growth speed. Optional parameter
    growth_rate: 0.002,

    // The flammability of trees determines how easily trees catch fire from other trees. 
    // Optional parameter
    inflammability: 0.2,

    // Likelihood of spontaneous combustion. Optional parameter
    self_ignition_probability: 0.000005,

    // Burning rate. Optional parameter
    burning_rate: 0.08,

    // The color palette of the forest. Optional parameter
    forest_color_palette: [(45, 191, 182), (4, 165, 154), (14, 164, 117), (46, 200, 208), (32, 166, 202), (5, 185, 141)],
    
    // The color of the flame. Optional parameter
    fire_color: (255, 68, 219),

    // Ground color. Optional parameter
    ground_color: (3, 9, 14),
)
