Configuration(
    //Liczba klatek symulacji
    frames: 500,

    // Liczba klatek na sekundę animacji
    frame_rate: 25,

    // Ścieżka do pliku wynikowego. Formatem wynikowym jest GIF więc
    // nazwa pliku powinna mieć rozszerzenie .gif
    output_path: "green_tea.gif",

    // Rozdzielczość generowanej animacji: (pozioma, pionowa)
    resolution: (960, 540),

    // Wielkość pojedynczej komórki w pikselach. Ten parametr musi być tak
    // dobrany aby dzielił wartość rozdzielczości poziomej i pionowej bez reszty
    cell_size: 4,

    // Frakcja komórek żywych na początku symulacji. Parametr opcjonalny
    alive_fraction: 0.5,

    // Prawdopodobieństwo wykiełkowania (przy kontakcie z innymi drzewami). Parametr opcjonalny
    sprout_probability: 0.005,

    // Prawdopodobieństwo losowego wykiełkowania. Parametr opcjonalny
    random_sprout_probability: 0.00075,

    // Szybkość wzrostu drzew. Parametr opcjonalny
    growth_rate: 0.001,

    // Łatwopalność drzew, określa jak łatwo drzewa zajmują się ogniem od
    // innych drzew. Parametr opcjonalny
    inflammability: 0.075,

    // Prawdopodobieństwo samozapłonu. Parametr opcjonalny
    self_ignition_probability: 0.000005,

    // Szybkość spalania. Parametr opcjonalny
    burning_rate: 0.075,

    // Paleta kolorystyczna lasu. Parametr opcjonalny
    forest_color_palette: [(88, 227, 21), (104, 221, 4), (48, 175, 32), (185, 242, 10), (20, 180, 78), (3, 71, 84)],
    
    // Kolor płomienia. Parametr opcjonalny
    fire_color: (255, 28, 28),

    // Kolor podłoża. Parametr opcjonalny
    ground_color: (2, 12, 5),
)
